body{
    background-image: linear-gradient(rgb(13, 218, 81),rgba(36, 34, 34, 0.801));  
    background-size: 100%;
}



li{
    list-style: none;
    border-radius: 10px;
    margin: 10px;
   
}

.wrapper{ 
 text-align: center;
 height:100vh;
 width: 25vw;
 margin: auto;
    
}

